/dev/oncrpc/*             0660   radio       system
/dev/msm_camera/*          0660   system       system
/dev/bma020               0640   compass    system
/dev/smdcntl0               0640   radio    radio
/dev/smdcntl1               0640   radio    radio
/dev/smdcntl2               0640   radio    radio
/dev/kgsl-3d0               0666   root       root
/dev/msm_preproc_ctl        0660   system   audio
