<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cyanogenmod.EuropaParts" android:sharedUserId="android.uid.system">
	<uses-permission android:name="android.permission.SET_ALWAYS_FINISH" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".EuropaParts" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="com.cyanogenmod.action.LAUNCH_DEVICE_SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.cyanogenmod.EuropaParts.EuropaLog"
			android:label="@string/bugreport_title_head"
			android:launchMode="singleInstance" android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<receiver android:name=".EuropaPartsStartup">
			<intent-filter android:priority="100">
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
